# --- Streamlit & Secrets ---
.streamlit/secrets.toml
.env

# --- Python Environment & Caching ---
.venv/
env/
venv/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Operating System Clutter ---
.DS_Store
Thumbs.db
